@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Color Primaries */
  --clr-primary-orange: hsl(22, 89%, 52%);
  --clr-primary-darkblue: hsl(220, 50%, 17%);

  /* Color Neutrals */
  --clr-neutral-lightorange: hsl(22, 100%, 69%);
  --clr-neutral-darkgray: hsl(221, 23%, 58%);
  --clr-neutral-lightgray: hsl(198, 28%, 93%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* Font Family */
  --ff-body: "Barlow", sans-serif;

  /* Font Weight */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Font Size */
  --fs-300: 1rem;
  --fs-350: 1.125rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 3rem;

  /* Line Heights */
  --lh-300: 1.625rem;
  --lh-400: 1.75rem;
  --lh-500: 2.25rem;
  --lh-600: 3rem;
}

@media (min-width: 48.001rem) {
  :root {
    --fs-600: 3.5rem;
    --lh-600: 3.5rem;
  }
}

/* Utility Classes */
.sticker {
  background-color: var(--clr-primary-orange);
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  margin-bottom: 3rem;
}

.button__one {
  background-color: var(--clr-primary-orange);
  color: var(--clr-neutral-white);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  line-height: var(--lh-300);
}

.button__two {
  background: var(--clr-neutral-lightgray);
  color: var(--clr-primary-darkblue);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  line-height: var(--lh-300);
}

button {
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.5rem;
}

.hidden {
  display: none;
}

body {
  font-family: "barlow", sans-serif;
  font-weight: var(--fw-medium);
  font-size: var(--fs-300);
}

h1 {
  font-size: var(--fs-600);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: var(--lh-600);
}

p {
  color: #7b8bad;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
}

img {
  border-radius: 1rem;
}

.nav img {
  border-radius: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.container {
  width: 87%;
  margin-inline: auto;
}

/* header section */
.nav {
  margin-top: 2rem;
}

/* hero section */
.hero {
  margin-top: 4rem;
}

.hero p {
  text-align: left;
}

.hero__release-date {
  font-weight: 700;
  text-transform: uppercase;
}

.hero__gap {
  margin-bottom: 2rem;
}

.hero__button button {
  margin-right: 2rem;
}

.hero__button {
  margin-bottom: 4rem;
}

.hero .keyboard {
  position: relative;
  overflow: hidden;
  height: 331px;
}

.img__keyboard {
  overflow: hidden;
  position: absolute;
  border-radius: 1rem;
  left: 5%;
}

/* aside content */
.position-container {
  margin-top: 2rem;
  position: relative;
  padding-bottom: 2rem;
  height: 20rem;
}

.position-container__absolute {
  position: absolute;
  left: -5%;
}

.primary-content__img {
  gap: 2rem;
}
.primary-content__img1 {
  position: relative;
  isolation: isolate;
}
.primary-content__img1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clr-primary-orange);
  mix-blend-mode: multiply;
  border-radius: 1rem;
}

.keyboard-info h2 {
  margin-inline: auto;
  text-align: center;
  font-size: var(--fs-500);
  font-weight: 900;
  text-transform: uppercase;
  width: 60%;
  line-height: 36px;
  margin-bottom: 1.5rem;
}

/* article section */
.card h3 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
  width: 60%;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.card-section {
  margin-top: 6rem;
}

.card img {
  margin-inline: auto;
}

.card {
  margin-bottom: 3rem;
}

/* Footer Section */
footer {
  text-align: center;
  margin-bottom: 3rem;
}

.footer__text {
  font-weight: 700;
}
